@keyframes color-change{
    0%{color:rgb(255, 0, 0)}
    15%{color: rgb(255, 255, 0)}
    50%{color: rgb(0, 255, 0)}


}

body{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(40, 90, 97);
}
h1{
    color: blue;
    animation: color-change 3s infinite;
}

h2{
    color: blue;
}

img{
    border: 5px  solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 28px;
    width: 200px;
    height: auto;
    transition: transform 0.3, box-shadow 0.3s ease;
}

img:hover{
    transform: scale(1.05);
    box-shadow: 0px 8px 16px;
}