<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/stile.css">
    <title>Dependencias tecnologicas</title>
</head>
<body>
    <h1>dependecias tecnologicas:</h1>
    <p>esta es la tarea<br> que hablaremos de la dependecia teconlogica </p>
    <h2>Tema 1: Que son las dependencias tecnológicas?</h2>
    <ul>
        <li>Concepto de Dependencia Tecnológica</li>
        <li>La dependencia tecnológica se refiere a una relación poco saludable y adictiva con dispositivos tecnológicos, como teléfonos inteligentes, computadoras, tabletas y redes sociales. Se caracteriza por el uso excesivo, la incapacidad de controlar el tiempo dedicado a la tecnología y la interferencia negativa en la vida cotidiana.</li>
        <p><img src="/static/img/imagen 2.jpeg" alt="imagen 2"></p>
    </ul>
    <h2>Tema 2: como prevenirlas?</h2>
    <ul>
        <p>1. Establece horarios para el uso de las pantallas ...</p>
        <p>2. Desactiva notificaciones para reducir estímulos innecesarios ...</p>
        <p>3. Crea espacios libres de tecnología en tu hogar ...</p>
        <p>4. Practica la regla 20-20-20 para evitar fatiga digital ...</p>
        <p>5. Sustituye momentos digitales por actividades físicas o creativas ...</p>
        <p>6. Implementa un día de desconexión total cada semana ...</p>
        <p>7. Utiliza herramientas de control del tiempo en pantalla ...</p>
 
        <p><img src="/static/img/imagen 1.jpeg" alt="imagen 1"></p>
    </ul>
    <h2>Tema 3: cuales son los sintomas?</h2>
    <ul>
        <p>1. Necesidad compulsiva de información:</p>
        <p>Las personas que presentan este tipo de dependencia, sienten una fuerte necesidad por estar informados constantemente, sobre todo en lo referente a los temas relacionados con lo que resulta interesante en su círculo social.</p>
        <p>2. Necesidad de aparatos tecnológicos de vanguardia:</p>
        <p>A medida que la dependencia de las nuevas tecnologías se hace más intensa, al sujeto no le basta con satisfacer su necesidad de información a través de cualquier dispositivo, sino que este necesitará de uno que le brinde los últimos avances tecnológicos para sentir que satisface su necesidad.</p>
        <p>3. Recursos limitados al ámbito tecnológico:</p>
        <p>A menudo las personas adictas a la tecnología convierten estos elementos en sus únicos recursos resolutivos. Es decir, estas personas suelen ser incapaces de afrontar cualquier situación en la vida sin apoyarse en aparatos tecnológicos, lo que a menudo limita su capacidad de solventar situaciones en contextos ajenos a las pantallas.</p>
        <p><img src="/static/img/imagen 3.jpeg" alt="imagen 3"></p>
    </ul>
</body>
</html>